.mid-container{
width: 100%;
background-image: url(../../../assets/images/26.svg);
background-position: center; 
background-repeat: no-repeat;
background-size: cover;
}

.background-video {
width: 100%;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.video-container {
position: relative;
z-index: 1;
}

.video-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}

.tagembed-widget {
position: relative;
z-index: 2;
}
