.whatsapp-logo{
    position: fixed;
    top: 88%;
    right: 7%;
    transform: translateY(-50%);
    z-index: 1000; /* Ensure it appears above other elements */
    width: 60px; /* Adjust size as needed */
  }

  .phone-logo{
    
  }